.routes {
    display: flex;
    /* gap: 1rem; */
    min-height: 80vh;
    width: 100%;
    /* margin-top: 3rem; */
}
.nav-bar{
    margin-top: 5rem;
    width: 15%;
    min-height: 80vh;
}
.content{
    margin-top: 5rem;
    width: 85%;
}

@media screen and (max-width:760px){
    .nav-bar{
        width: 0%;
        display: none;
    }
    .content{
        margin-top: 0;
        width: 100%;
    }
}