.search{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0;
}
.search input{
    border: none;
}
.search input:focus{
    outline: none;
}

@media screen and (max-width:440px){
    .search input{
        padding: 0.5rem;
        border-radius: 6px;
    }
}