.nav-container{
    width: 100%;
    height: 5rem;
    background-color: rgb(57, 53, 53);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: fixed;
}
.harmburger{
    display: none;
}
.left-container{
    display: flex;
}
.left-container a{
    text-decoration: none;
    color: white;
}

.mid-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.mid-container a{
    text-decoration: none;
    color: white;
}
.left-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.left-container button{
    background-color: transparent;
    padding: 0.5rem;
    color: white;
    border-radius: 6px;
}
.active{
    /* background-color: red; */
    border-bottom: 1px solid red;
}

@media screen and (max-width:760px){
    .nav-container{
        width: 100%;
        min-width: 22rem;
        height: 3rem;
        position: relative;
    }
    .harmburger{
        display: block;
        margin: 0 -2rem;
        padding: 0.8rem 2.2rem;
        background-color: blue;
    }
    .left-container{
        display: none;
    }
    .mid-container{
        /* text-align: center; */
        margin: 0 auto;
    }
    .mid-container h3{
        font-size: 1rem;
    }
    .mid-container .view-span{
        display: none;
    }
    .mobileLogin-button{
        background-color: rgb(57, 53, 53);
        padding: 0.5rem;
        position: absolute;
        top: 3rem;
        left: 1rem;
        transform: translateX(0);
        transition: all 3s;
    }
    .mobileLogin-button p{
        font-size: 1rem;
    }

}